<div class="employeeCard">
<ul>
  <li>
       <h4>{{site_name}}</h4>
        <p>Address: {{site_address}}</p>
        <p>Contact Name: {{contact_name}}</p>
        <p>Contact Phone: {{contact_phone}}</p> 
    </li>  
</ul>
</div>