<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Site Mate</title>
</head>
<body>
<header class="header">
      <h1 id="logo">Site Mate</h1><a href="#"></a>
      <nav>
        <ul>
          <a id="employeesBtn" href="/employees">Employees</a>
          <a id="sitesBtn" href="/sites">Sites</a>
          <a id="scheduleBtn" href="#">Schedule</a>
          <a id="signUpBtn" href="#">Sign in</a>
        </ul>
      </nav>
    </header>

  
      {{{body}}}
    
</body>
</html>