<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Site Mate</title>
</head>
<body>
<header class="header">
      <a id="logo" href="/">Site Mate</a>
      <nav>
        <ul>
          {{#if loggedIn}}
          <a id="employeesBtn" href="/employees">Employees</a>
          {{/if}}
          {{#if loggedIn}}
          <a id="sitesBtn" href="/sites">Sites</a>
          {{/if}}
          {{#if loggedIn}}
          <a id="scheduleBtn" href="/schedule">Schedule</a>
          {{/if}}
          {{#if loggedIn}}
          <a id="logout" href="#">Sign Out</a>
          {{else}}
          <a id="signUpBtn" href="#">Sign in</a>
          {{/if}}
        </ul>
      </nav>
    </header>

  
      {{{body}}}


   {{!-- <script src="./js/script.js"></script> --}}
   {{#if loggedIn}}
   <script src="./js/logout.js" ></script>
   {{else}}
   <script src="./js/login.js"></script>
   {{/if}} 
</body>
</html>