     <div class="hero">
        <h1>Welcome to Site Mate</h1>
        <h3>The Easy Way To Manage Your Human Resources</h3>
    </div>
    <section class="signModal">
      <div class="modalContent">
        <h1 class="modalTitle">Sign Up</h1>
        <button id="closeSign" class="closeBtn">&times;</button>
      </div>
      <form class="form" action="#">

        <label for="firstName-signup"></label>
        <input type="text" id="firstName-signup" autocomplete="name" placeholder="First name" />

        <label for="lastName-signup"></label>
        <input type="text" id="lastName-signup" autocomplete="name" placeholder="Last name" />

        <label for="email-signup"></label>
        <input type="email" id="email-signup" autocomplete="email" placeholder="email" />

        <label for="password-signup"></label>
        <input type="password" id="password-signup" autocomplete="new-password" placeholder="Password" />

        <label for="confirm-password-signup"></label>
        <input type="password" id="confirm-password-signup" autocomplete="new-password" placeholder="Confirm Password" />

        <input class="submitBtn" type="submit" value="Submit" />
      </form>
    </section>

    <section class="loginModal">
      <div class="modalContent">
        <h1 class="modalTitle">Sign In</h1>
        <button id="closeLogin" class="closeBtn">&times;</button>
      </div>

      <form class="form">

        <label for="username-login"></label>
        <input type="text" id="email-login" autocomplete="email" placeholder="Email" />

        <label for="password-login"></label>
        <input type="password" id="password-login" autocomplete="new-password" placeholder="Password" />

        <label for="confirm-password-login"></label>
        <input type="password" id="confirm-password-login" autocomplete="new-password" placeholder="Confirm Password" />

        <input class="submitBtn" id="login-submit" type="submit" value="Submit" />
      </form>

      <div class="signUp">
        <p>Not Registered?</p>
        <button id="signBtn" >Sign Up</button>
      </div>
    </section>

    <div class="bigScroll"></div>

  </main>

