<div class="Employee-hero">
    <div class="title">
        <h1 id="empHeading">Schedule</h1>
    </div>

    <button class="employeeBtn" id="addSchedule">Add</button>
    <button class="employeeBtn">Edit</button>
    <button class="employeeBtn">Delete</button>
    {{!-- enter modal for add roster, display none, position reltive (copy sign in modal), modal appear on press add,
    hide employee content. when you press save, creates post request that populates data base(add route) --}}

    <section class="addScheduleModal">
        <div class="modalContent">
            <h1 class="modalTitle">Add Schedule</h1>
            <button id="closeSign" class="closeBtn">&times;</button>
        </div>
        <form class="form" action="#">

            <section>
                
                <label for="week">Select a start date:</label>
                <input type="date" id="week" name="week" value="date">

                


                <div class=siteDropdown>
                    <label for="site">Select a job site</label>
                    <select id="site">
                        {{#each site as | data |}}
                        {{>scheduleDropdown}}
                        {{/each}}
                    </select>
                </div>

                <div class=EmployeeCheckBox>
                    <h3>Select an employee<h3><br>
                            {{#each employee as | data |}}
                            {{>scheduleCheckbox}}
                            {{/each}}
                </div>

                <input class="submitBtn" type="submit" value="Submit" />
            </section>


        </form>
    </section>

    <div class="employee-content">
        <ul>
            {{#each schedule as | data | }}
            {{>schedule-data}}
            {{/each}}
        </ul>
        <ul>
            {{#each schedule.first_name as | name |}}
            {{>schedule-name}}
            {{/each}}
        </ul>
    </div>
</div>

<script src="./js/scheduleScript.js"></script>
</body>